<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="top-plate :: top-plate"></div>
<h4><span th:text="#{section.creation}"></span></h4>
<form method="post" action="/classes/create">
    <table>
        <tr>
            <td><label for="input-class-name"><span th:text="#{header.name}"></span></label></td>
            <td><input type="text" id="input-class-name"></td>
        </tr>
    </table>
    <input type="submit" th:value="#{submit.create}">
</form>
</body>
</html>
