<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>chemistry</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>


<div class="site-map">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="/ions/main">ионы</a>
                <a href="/classes/main">классы</a>
                <a href="/index">вещества</a>
            </td>
            <td style="text-align:right">
                <a href="/login">войти</a>
            </td>
        </tr>
    </table>
</div>

<h4>создание записи</h4>

<form>
    <table>
        <tr>
            <td><label for="input-class-name">название</label></td>
            <td><input type="text" id="input-class-name"></td>
        </tr>
    </table>

    <input type="submit" value="создать запись">
</form>


</body>
</html>