<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:value="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="site-map">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="/ions/main"><span th:text="#{map.ions}"></span></a>
                <a href="/classes/main"><span th:text="#{map.classes}"></span></a>
                <a href="/index"><span th:text="#{map.substances}"></span></a>
            </td>
            <td style="text-align:right">
                <a href="/login"><span th:text="#{map.login}"></span></a>
            </td>
        </tr>
    </table>
</div>
<h4><span th:text="#{title.creation}"></span></h4>
<form method="post" action="/classes/create">
    <table>
        <tr>
            <td><label for="input-class-name"><span th:text="#{header.name}"></span></label></td>
            <td><input type="text" id="input-class-name"></td>
        </tr>
    </table>
    <input type="submit" th:value="#{submit.create}">
</form>
</body>
</html>
