<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="top-plate :: top-plate"></div>
<a th:if="${session.isAdmin}" th:href="@{/classes/create}" style="margin-bottom: 10px"><span th:text="#{links.create}"></span></a>

<form th:object="${classToDelete}" method="post" action="/classes/main">
    <input th:if="${session.isAdmin}" type="submit" th:value="#{submit.delete}">
    <fieldset>
        <legend th:text="#{entries}"></legend>
        <div class="wrapper">
            <div class="box" th:each="class : ${classes}">
                <input th:id="${class.id}" th:field="${classToDelete.id}" th:value="${class.id}" type="radio" checked/>
                <label th:for="${class.id}" th:text="${class.name}"></label>
            </div>
        </div>
    </fieldset>
</form>

</body>
</html>
