<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="site-map">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="/ions/main"><span th:text="#{map.ions}"></span></a>
                <a><span th:text="#{map.classes}"></span></a>
                <a href="/index"><span th:text="#{map.substances}"></span></a>
            </td>
            <td style="text-align:right">
                <a th:if="${session.isAdmin}" href="/logout"><span th:text="#{map.logout}"></span></a>
            </td>
        </tr>
    </table>
</div>
<a href="/classes/create" style="margin-bottom: 10px"><span th:text="#{links.create}"></span></a>
<form method="post" action="/deleteEntity">
    <!--    TODO:передать имя таблицы и id выделенного элемента-->
    <input type="submit" th:value="#{submit.delete}">
    <div class="wrapper">
        <div class="box" th:each="class : ${classes}">
            <input th:id="${class.id}" type="radio" name="selector-class" checked>
            <label th:for="${class.id}" th:text="${class.nameText}"></label>
        </div>
    </div>
</form>
</body>
</html>
