<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>chemistry</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>


<div class="site-map">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="/ions/main">ионы</a>
                <a>классы</a>
                <a href="/index">вещества</a>
            </td>
            <td style="text-align:right">
                <a href="/login">войти</a>
            </td>
        </tr>
    </table>
</div>

<a href="/classes/create" style="margin-bottom: 10px">создать новую запись</a>

<form>
    <input type="submit" value="удалить выделенную запись">

    <div class="wrapper">
        <div class="box">
            <input id="1" type="radio" name="selector-class" checked>
            <label for="1">Оксиды</label>
        </div>
        <div class="box">
            <input id="2" type="radio" name="selector-class">
            <label for="2">Основания</label>
        </div>

        <div class="box">
            <input id="3" type="radio" name="selector-class">
            <label for="3">Кислоты</label>
        </div>
        <div class="box">
            <input id="4" type="radio" name="selector-class">
            <label for="4">Соли</label>
        </div>
        <div class="box">
            <input id="5" type="radio" name="selector-class">
            <label for="5">Класс</label>
        </div>
        <div class="box">
            <input id="6" type="radio" name="selector-class">
            <label for="6">Класс</label>
        </div>
        <div class="box">
            <input id="7" type="radio" name="selector-class">
            <label for="7">Класс</label>
        </div>
    </div>
</form>

</body>
</html>
