<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:insert="top-plate :: top-plate"></div>
<a th:href="@{/substances/create}" style="margin-bottom: 10px"><span th:text="#{links.create}"></span></a>
<!--<div th:if="${substances.empty}"><h3 th:text="#{inavailable.substances}"></h3></div>-->

<form th:object="${substanceToDelete}" method="post" action="/index">
    <input type="submit" th:value="#{submit.delete}">
    <table>
        <tr>
            <th><span th:text="#{header.formula}"></span></th>
            <th><span th:text="#{header.notation}"></span></th>
            <th><span th:text="#{header.class}"></span></th>
        </tr>
        <tr th:each="substance : ${substances}">
            <td>
                <input th:id="${substance.id}" th:field="${substanceToDelete.id}" th:value="${substance.id}" type="radio" checked/>
                <label th:for="${substance.id}" th:text="${substance.formula}"></label>
            </td>
            <td th:text="${substance.notation}"></td>
            <td th:text="${substance.className}"></td>
        </tr>
    </table>
</form>

</body>
</html>
