<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="site-map">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="/ions/main"><span th:text="#{map.ions}"></span></a>
                <a href="/classes/main"><span th:text="#{map.classes}"></span></a>
                <a><span th:text="#{map.substances}"></span></a>
            </td>
            <td style="text-align:right">
                <a href="/login"><span th:text="#{map.login}"></span></a>
            </td>
        </tr>
    </table>
</div>
<a href="/substances/create" style="margin-bottom: 10px"><span th:text="#{links.create}"></span></a>
<form method="post" action="/deleteEntity">
    <!--    TODO:передать имя таблицы и id выделенного элемента-->
    <input type="submit" th:value="#{submit.delete}">
    <table>
        <tr>
            <th><span th:text="#{header.formula}"></span></th>
            <th><span th:text="#{header.notation}"></span></th>
            <th><span th:text="#{header.class}"></span></th>
        </tr>
        <tr th:each="substance : ${substances}">
            <td>
                <input type="radio" name="selector-ion" checked>
                <label><span th:text="${substance.formulaText}"></span></label>
            </td>
            <td th:text="${substance.notationText}"></td>
            <td th:text="${substance.classText}"></td>
        </tr>
    </table>
</form>
</body>
</html>
