<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>chemistry</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>


<div class="site-map">
    <div>
        <a href="/ions/main">ионы</a>
        <a href="/classes/main">классы</a>
        <a>вещества</a>
    </div>
    <div style="text-align:right">
        <a href="/login">войти</a>
    </div>
</div>

<a href="/substances/create" style="margin-bottom: 10px">создать новую запись</a>
<form method="post" action="/deleteSubstance">
    <input type="submit"  value="удалить выделенную запись">

    <table>
        <tr>
            <th>формула</th>
            <th>нотация</th>
            <th>класс</th>
        </tr>

        <tr>
            <td>
                <input id="1" type="radio" name="selector-ion" checked>
                <label for="1">Zn(OH)2</label>
            </td>
            <td>Нотация</td>
            <td>Класс</td>
        </tr>
        <tr>
            <td>
                <input id="2" type="radio" name="selector-ion">
                <label for="2">Al(OH)3</label>
            </td>
            <td>Нотация</td>
            <td>Класс</td>
        </tr>
        <tr>
            <td>
                <input id="3" type="radio" name="selector-ion">
                <label for="3">HNO3</label>
            </td>
            <td>Нотация</td>
            <td>Класс</td>
        </tr>
        <tr>
            <td>
                <input id="4" type="radio" name="selector-ion">
                <label for="4">Ca3(PO4)2</label>
            </td>
            <td>Нотация</td>
            <td>Класс</td>
        </tr>
    </table>
</form>

</body>
</html>
