<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
    <body>
        <div th:insert="top-plate :: top-plate"></div>
        <h4>
            <span th:text="#{section.login}"></span>
        </h4>
        <form method="post" action="/login">
            <table>
                <tr>
                    <td><label for="input-login"><span th:text="#{input.login}"></span></label></td>
                    <td><input type="text" id="input-login" name="username"></td>
                </tr>
                <tr>
                    <td><label for="input-password"><span th:text="#{input.password}"></span></label></td>
                    <td><input type="password" autocomplete="off" id="input-password" name="password"></td>
                </tr>
            </table>
            <input class="button" type="submit" th:value="#{submit.login}">
        </form>
    </body>
</html>
