<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>chemistry</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="site-map">
    <div>
        <a href="/ions/main">ионы</a>
        <a href="/classes/main">классы</a>
        <a href="/index">вещества</a>
    </div>
</div>

<form method="post" action="/login">
    <table>
        <tr>
            <td><label for="input-login">логин</label></td>
            <td><input type="text" id="input-login"></td>
        </tr>
        <tr>
            <td><label for="input-password">пароль</label></td>
            <td><input type="password" id="input-password"></td>
        </tr>
    </table>
    <input type="submit" value="войти">
</form>

</body>
</html>
