<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>chemistry</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<div class="site-map">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="/ions/main">ионы</a>
                <a href="/classes/main">классы</a>
                <a href="/index">вещества</a>
            </td>
            <td style="text-align:right">
                <a href="/login">войти</a>
            </td>
        </tr>
    </table>
</div>

<h4>создание записи</h4>

<form method="post" action="/ions/create">
    <table>
        <tr>
            <td>тип</td>
            <td>
                <input type="radio" id="input-anion" name="ion-type-input" checked/>
                <label for="input-anion">анион</label>
                <input type="radio" id="input-cation" name="ion-type-input"/>
                <label for="input-cation">катион</label>
            </td>
        </tr>
        <tr>
            <td><label for="input-ion-notation">нотация</label></td>
            <td><input type="text" id="input-ion-notation"></td>
        </tr>
        <tr>
            <td><label for="input-ion-valence">валентность</label></td>
            <td><input type="number" id="input-ion-valence"></td>
        </tr>
    </table>

    <input type="submit" value="создать запись">
</form>


</body>
</html>