<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="top-plate :: top-plate"></div>
<a href="/classes/create" style="margin-bottom: 10px"><span th:text="#{links.create}"></span></a>
<form method="post" action="/deleteEntity">
<!--    TODO:передать имя таблицы и id выделенного элемента-->
    <input type="submit" th:value="#{submit.delete}">
    <div class="wrapper">
        <div class="box" th:each="ion : ${ions}">
            <input type="radio" name="selector-ion" checked>
            <label><span th:text="${ion.noation}"></span></label>
        </div>
    </div>
</form>
</body>
</html>
