<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="top-plate :: top-plate"></div>
<a th:if="${session.isAdmin}" th:href="@{/ions/create}" style="margin-bottom: 10px"><span th:text="#{links.create}"></span></a>
<form method="post" action="/deleteEntity">
<!--    TODO:передать id выделенного элемента-->
    <input type="hidden" name="entity" value="ions">
    <input th:if="${session.isAdmin}" type="submit" th:value="#{submit.delete}">
    <div class="wrapper">
        <div class="box" th:each="ion : ${ions}">
            <input th:id="${ion.id}" type="radio" name="selector-ion" checked>
            <label th:for="${ion.id}" th:text="${ion.notation}"></label>
        </div>
    </div>
</form>
</body>
</html>
