<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="top-plate :: top-plate"></div>

<form th:object="${ionToDelete}" method="post" action="/ions/main">
    <a class="button" th:if="${session.isAdmin}" th:href="@{/ions/create}" style="margin-bottom: 10px" th:text="#{links.create}"></a>
    <input class="button" th:if="${session.isAdmin}" type="submit" th:value="#{submit.delete}">
    <fieldset>
        <legend th:text="#{entries}"></legend>
        <div class="wrapper">
            <div class="box" th:each="ion : ${ions}">
                <input th:id="${ion.id}" th:field="${ionToDelete.id}" th:value="${ion.id}" type="radio" checked/>
                <label th:for="${ion.id}" th:utext="${ion.notation}"></label>
            </div>
        </div>
    </fieldset>
</form>

</body>
</html>
