<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="top-plate :: top-plate"></div>
<h4 th:if="${session.isAdmin}"><span th:text="#{section.creation}"></span></h4>

<form th:object="${substanceForm}" method="post" action="/substances/create">
    <label><span th:text="#{input.class}"></span></label>
    <div class="wrapper">
        <div class="box" th:each="class : ${classes}">
            <input th:id="'class' + ${class.id}" th:field="${substanceForm.classId}" th:value="${class.id}" type="radio" checked/>
            <label th:for="'class' + ${class.id}" th:text="${class.name}"></label>
        </div>
    </div>
    <label><span th:text="#{input.anion}"></span></label>
    <div class="wrapper">
        <div class="box" th:each="anion : ${anions}">
            <input th:id="'anion' + ${anion.id}" th:field="${substanceForm.anionId}" th:value="${anion.id}" type="radio" checked/>
            <label th:for="'anion' + ${anion.id}" th:utext="${anion.notation}"></label>
        </div>
    </div>
    <label><span th:text="#{input.cation}"></span></label>
    <div class="wrapper">
        <div class="box" th:each="cation : ${cations}">
            <input th:id="'cation' + ${cation.id}" th:field="${substanceForm.cationId}" th:value="${cation.id}" type="radio" checked/>
            <label th:for="'cation' + ${cation.id}" th:utext="${cation.notation}"></label>
        </div>
    </div>
    <table>
        <tr>
            <td><label for="input-notation" th:text="#{input.notation}"></label></td>
            <td><input type="text" id="input-notation" th:field="${substanceForm.notation}" checked></td>
        </tr>
    </table>
    <input type="submit" th:value="#{submit.create}">
</form>
</body>
</html>
