<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="top-plate :: top-plate"></div>
<h4><span th:text="#{section.creation}"></span></h4>
<form method="post" action="/substances/create">
    <label><span th:text="#{input.class}"></span></label>
    <div class="wrapper">
        <div class="box" th:each="class : ${classes}">
            <input type="radio" name="selector-class" checked>
            <label><span th:text="${class.name}"></span></label>
        </div>
    </div>
    <label><span th:text="#{input.anion}"></span></label>
    <div class="wrapper">
        <div class="box" th:each="anion : ${anions}">
            <input type="radio" name="selector-class" checked>
            <label><span th:text="${anion.notation}"></span></label>
        </div>
    </div>
    <label><span th:text="#{input.cation}"></span></label>
    <div class="wrapper">
        <div class="box" th:each="cation : ${cations}">
            <input type="radio" name="selector-class" checked>
            <label><span th:text="${cation.notation}"></span></label>
        </div>
    </div>
    <table>
        <tr>
            <td><label for="input-notation"><span th:text="#{input.notation}"></span></label></td>
            <td><input type="text" id="input-notation"></td>
        </tr>
    </table>
    <input type="submit" th:value="#{submit.create}">
</form>
</body>
</html>
