<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>chemistry</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>


<div class="site-map">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="../ions/main.html">ионы</a>
                <a href="../classes/main.html">классы</a>
                <a href="../substances/main.html">вещества</a>
            </td>
            <td style="text-align:right">
                <a href="../login.html">войти</a>
            </td>
        </tr>
    </table>
</div>

<h3>вещества</h3>

<a href="create.html">создать новую запись</a>
<br>
<br>
<input type="submit" value="удалить выделенную запись">

<br>
<br>
<label>основания</label>

<div class="wrapper">
    <div class="box">
        <input id="1" type="radio" name="selector-ion" checked>
        <label for="1">Нотация - Zn(OH)2</label>
    </div>
    <div class="box">
        <input id="2" type="radio" name="selector-ion">
        <label for="2">Al(OH)3</label>
    </div>
</div>

<br>
<label>кислоты</label>

<div class="wrapper">
    <div class="box">
        <input id="3" type="radio" name="selector-ion">
        <label for="3">HNO3</label>
    </div>
    <div class="box">
        <input id="4" type="radio" name="selector-ion">
        <label for="4">NaCl</label>
    </div>
    <div class="box">
        <input id="5" type="radio" name="selector-ion">
        <label for="5">Ca3(PO4)2</label>
    </div>
</div>

</body>
</html>
